.g{
    font-weight: bold;
    font-size: 25px;
    padding-top: 200px;
    padding-left: 200px;
    color: white;
}
.p{
    text-align: center;
    font-size: 18px;
}
.b{
    background-color: rgb(250, 9, 9);
    height: 630px;
    width: 700px;
    border-radius: 25px;
}
 input[type="text"]{
     border-radius: 15px;
     color: white;
     background-color: rgb(231, 110, 110);
     border: 1px solid lightgrey;
     font-size: 20px;
 }
 input[type="password"]{
     border-radius: 15px;
     color: white;
     background-color:  rgb(231, 110, 110);
     border: 1px solid lightgrey;
     font-size: 20px;
 }
 label{
     color: white;
 }