@font-face {
	font-family: ProximaNova-Regular;
	src : url(./fonts/ProximaNova-Regular.ttf);

	
}

@font-face {
	font-family: ProximaNova-Bold;
	src: url(/fonts/ProximaNova-Bold.ttf);
}

h1, h2, a, text, footer {
	font-family: ProximaNova-Regular;
}


.part1-1 {
	background-image: url('./images/writing-hand-glass-finger-business-ear-701333-pxhere.com.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	padding: 5% 10%;

}
.navbar-brand:hover {
	animation: spin 3s ease-in-out infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
			}
	25% {transform: rotate(180deg);}
	100%{transform: rotate(360deg);}
}
.main {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	padding: 5% 10%;
}
.part1-2{
	background-image: url('./images/writing-board-number-line-corporate-business-710477-pxhere.com.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	 padding: 5% 10%;
}
.part1-3 {
	background-image: url('./images/computer-working-person-group-people-meeting-559565-pxhere.com.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	padding: 5% 10%;
}

.desc{
	background-color: rgba(233, 20, 20, 0.5);
	color:#ffffff;
}

.name{
	font: outline;
}
 

.part2 {
	background-image: url('./images/band.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	padding: 5% 10%;
}

.part3 {
	background-image: url('./images/robots.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	padding: 5% 10%;
}

.part4 {
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	padding: 5% 10%;
}

.part5 {
	background-color: #fff;
	padding: 1% 10%;
}.block {
	background-image: url('./img/bg.png');
	width: 1500px;
	height: 745px;
	margin: 10px auto;
	padding: 10px;
}

.block__element {
	background: none;
	width: 15%;
	height: 215px;
	position: relative;
	margin: 10px;
}


<<<<<<< HEAD
/*  Flexbox CSS Styling */
=======
/*  Flexbox CSS Styling  */
>>>>>>> 512cf36bc4791342661bfc89dab4168aff750dc5

.flex-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 0px;
}

.flex-element {
	order: 0;
	flex-grow: 0;
	flex-shrink:1;
	flex-basis: auto;
	align-self: auto;
}
.img1 {
	background-image: url('img/vesy.png');
  background-repeat: no-repeat;
}
.flex-element:hover
{
	-webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.img2 {
	background-image: url('img/grad.png');
  background-repeat: no-repeat;
}
.img3 {
	background-image: url('img/hand.png');
  background-repeat: no-repeat;
}
.img4 {
	background-image: url('img/comp.png');
  background-repeat: no-repeat;
}
.img5 {
	background-image: url('img/blood.png');
  background-repeat: no-repeat;
}
.img6 {
	background-image: url('img/davl.png');
  background-repeat: no-repeat;
}
.img7 {
	background-image: url('img/robot.png');
  background-repeat: no-repeat;
}

.lol {
	display: inline;
	margin: 5px;
	border: 1px #ffffff;
	padding: 3px;
}

.jumbotron {
	margin: 0em;
}
html, body {
	overflow-x: hidden;
}

.photocard {
	width: 280px;
	height: 280px;
}

.podval {
	background-color: red;
	color: #ffffff;
}



@media only screen and (max-width:420px){
	.display-4{
		font-size: 2rem;
	}
}
 
.hospitals {
	width: 1580px;
	height: 1080px;
}