@font-face {
	font-family: ProximaNova-Regular;
	src : url(./fonts/ProximaNova-Regular.ttf);

	
}

@font-face {
	font-family: ProximaNova-Bold;
	src: url(/fonts/ProximaNova-Bold.ttf);
}

h1, h2, a, text, footer {
	font-family: ProximaNova-Regular;
}


.part1-1 {
	background-image: url('./images/appbg.jpg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	padding: 5% 10%;

}
.navbar-brand {
	animation: spin 3s ease-in-out infinite;
}
.navbar-brand:hover {
	animation-play-state: paused;
}
@keyframes heartbeat {
	0% {
	  transform: scale( 1 );    
	}
	20% {
	  transform: scale( 1.25 ) 
		translateX(5%) 
		translateY(5%);
	} 
	40% {
	  transform: scale( 1.5 ) 
		translateX(9%) 
		translateY(10%);
	}
  }
  .heart {
	animation: heartbeat 1s infinite; // наше сердце будет биться безконечно
	...
  }
.open-button {
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	
  }
  .form-popup {
	display: none;
	position: fixed;
	bottom: 20%;
	right: 35%;
	border: 3px solid #f1f1f1;
	z-index: 9;
  }
  .form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
  }
  .form-container input[type=text], .form-container input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  .form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
  }
  .form-container .cancel {
	background-color: red;
  }
  
  .form-container .btn:hover, .open-button:hover {
	opacity: 1;
  }
.main {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	padding: 5% 10%;
}
.part1-2{
	background-image: url('./images/');
	background-repeat: no-repeat;
	background-size: cover;

	 padding: 8% 1%;
}
.part1-3 {
	background-image: url('./images/Решения.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	padding: 5% 10%;
}

.desc{
	background-color: rgba(233, 20, 20, 0.5);
	color:#ffffff;
}

.name{
	font: outline;
}
 

.part2 {
	background-image: url('./images/band.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	padding: 10% 1%;
}

.part3 {
	background-image: url('./images/robots.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	padding: 5% 10%;
}

.part4 {
	background-image: url('./images/appbg.jpg\ \(2\).jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	padding: 5% 10%;
}

.part5 {
	background-color: #fff;
	padding: 1% 10%;
}
.lol {
	display: inline;
	margin: 5px;
	border: 1px #ffffff;
	padding: 3px;
}

.jumbotron {
	margin: 0em;
}
html, body {
	overflow-x: hidden;
}

.photocard {
	width: 280px;
	height: 280px;
}

.podval {
	background-color: red;
	color: #ffffff;
}



@media only screen and (max-width:420px){
	.display-4{
		font-size: 2rem;
	}
}
 
.hospitals {
	width: 1580px;
	height: 1080px;
}

.picture-animation {
	/*background-color: blue;*/
	background-image: url('./img/bg.png');
	height: 110%;
	display: inline-flex;
	width: 100%;
	margin-bottom: 30px;
}
.picture-animation .picture-animation-left,.picture-animation-center,.picture-animation-right{
	width: 33.3%;
	display: block;
}

.med-pic {
	/*display: flex;*/
	height: 215px;
	width: 215px;
	font-size: 0;
	box-sizing: border-box;
}
.med-pic:hover {
-webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);
}
.arrow {
display: none;
border: 20px solid transparent; border-left: 20px solid green; 
}
.vesy {
  background-image: url('./img/vesy.png');
  background-repeat: no-repeat;
  margin-left: 15%;
   margin-top: 5%;
}
.vesy:hover .arrow {
display: block;
position: absolute;
top: 128%;
left: 170%;
animation-name: arrow;
animation-duration: 3s;
animation-fill-mode:forwards;  
}
@keyframes arrow {
0% {
transform:  translate(-200px,-183.5px);
}
20%{
transform:  translate(-100px,-183.5px);
}
40% {
transform:  translate(-100px,-183.5px) rotate(90deg);
}
60% {
transform:  translate(-100px, 0) rotate(90deg);
}
80% {
transform: translate(-100px,0px) rotate(0deg);
}
100% {
transform: translate(0px,0px);
}
} 

.grad {
  background-image: url('./img/grad.png');
  background-repeat: no-repeat;
  margin-left: 10%;
  margin-top: 8%;
}
.grad:hover .arrow {
display: block;
position: absolute;
top: 48.6%;
left: 172%;
border: 20px solid transparent; border-left: 20px solid red;
animation-name: arrowg;
animation-duration: 2s;
animation-fill-mode:forwards;  
}
@keyframes arrowg {
0% {
transform:  translate(-200px,0);
}
100% {
transform:  translate(0,0);
}
}    
.hand {
  box-sizing: border-box;
  background-image: url('./img/hand.png');
  background-repeat: no-repeat;
  margin-left: 10%;
  margin-top: 10%;
  }
 .hand:hover .arrow {
display: block;
position: absolute;
top: -33.9%;
left: 172%;
border: 20px solid transparent; border-right: 20px solid blue;
animation-name: arrowh;
animation-duration: 3s;
animation-fill-mode:forwards;  
animation-direction: reverse;
}
@keyframes arrowh {
0% {
transform:  translate(-190px,183.5px);
}
20%{
transform:  translate(-88px,183.5px);
}
40% {
transform:  translate(-88px,183.5px) rotate(-90deg);
}
60% {
transform:  translate(-88px, 0) rotate(-90deg);
}
80% {
transform: translate(-88px,0px) rotate(0deg);
}
100% {
transform: translate(0px,0px);
}
}    
.comp {
  background-image: url('./img/comp.png');
  background-repeat: no-repeat;
  background-size: 100%; 
  margin-left: 33%;
  margin-top: 51%;
}
.blood {
  background-image: url('./img/blood.png');
  background-repeat: no-repeat;
  background-size: 100%; 
  margin-left: 33%;
  margin-top: 7%;
}
.blood:hover .arrow {
display: block;
position: absolute;
top: 125%;
left: -66%;
border: 20px solid transparent; border-right: 20px solid violet;
animation-name: arrowb;
animation-duration: 3s;
animation-fill-mode:forwards;  
}
@keyframes arrowb {
0% {
transform:  translate(190px,-183.5px);
}
20%{
transform:  translate(88px,-183.5px);
}
40% {
transform:  translate(88px,-183.5px) rotate(-90deg);
}
60% {
transform:  translate(88px, 0px) rotate(-90deg);
}
80% {
transform: translate(88px,0px) rotate(0deg);
}
100% {
transform: translate(0px,0px);
}
}    
.davl {
  background-image: url('./img/davl.png');
  background-repeat: no-repeat;
  background-size: 100%; 
  margin-left: 33%;
  margin-top: 20%;
}
.davl:hover .arrow {
display: block;
position: absolute;
top: 26.5%;
left: -66%;
border: 20px solid transparent; border-right: 20px solid orange;
animation-name: arrowd;
animation-duration: 2s;
animation-fill-mode:forwards; 
}
@keyframes arrowd {
from {
transform:  translate(200px,0);
}
to {
transform:  translate(0,0);
}
}    
.robot {
  background-image: url('./img/robot.png');
  background-repeat: no-repeat;
  background-size: 100%; 
  margin-left: 33%;
  margin-top: 5%;
}
.robot:hover .arrow {
display: block;
position: absolute;
top: -47.5%;
left: -66%;
border: 20px solid transparent; border-left: 20px solid yellow;
animation-name: arrowr;
animation-duration: 3s;
animation-fill-mode:forwards; 
animation-direction: reverse; 
}
@keyframes arrowr {
0% {
transform:  translate(190px,183.5px);
}
20%{
transform:  translate(93px,183.5px);
}
40% {
transform:  translate(93px,183.5px) rotate(90deg);
}
60% {
transform:  translate(93px, 0) rotate(90deg);
}
80% {
transform: translate(93px,0px) rotate(0deg);
}
100% {
transform: translate(0px,0px);
}
}   
h2.profile-text {
/*Профиль пациента \ Больной Человек */
}
.btn btn-outline-danger{
	font-size: 32px;
	width: 200px;
	position: center;

}
.UP{
	transition: 4s;

}
.pol{
	position: absolute;
	padding-left:82px;
	padding-top:27px;
}
.lop{
	position: absolute;
	padding-left:35px;
	padding-top: 27px;
}
.soc{
	position: absolute;
	padding-left: 400px;
	padding-top: 35px;
	height:100px;
}
.insta{
	position: absolute;
	padding-top: 60px;
	padding-left: 340px;
}
.vk{
	position: absolute;
	padding-top: 60px;
	padding-left: 390px;
}
.fasebook{
	position: absolute;
	padding-top: 60px;
	padding-left: 450px;
}
.telegram{
	position: absolute;
	padding-top: 60px;
	padding-left: 495px;
}
.twitter{
	position: absolute;
	padding-top: 60px;
	padding-left: 545px;
}
.gmail{
	position: absolute;
	padding-top: 35px;
	padding-left: 950px;
}
.gmal{
	position: absolute;
	padding-top: 80px;
	padding-left: 1070px;
}
.почта{
	position: absolute;
	padding-top: 55px;
	padding-left: 965px;
	color: grey;
}
.hit{
	position: absolute;
	padding-top:120px;
	padding-left: 720px;


}
.loli{
	position: absolute;
	padding-top:220px;
	padding-left: 655px;
	color: grey;
}
.mcs{
	padding-right: 300px;
	color: white;
	font-size: 28px;
	padding-top: 10px;
}
.font{
	font-size: 18px;
}