::selection {
background: rgba(200, 32, 32, 0.2);
}
::-moz-selection {
background: rgba(200, 32, 32, 0.2);
}

@font-face {
font-family: ProximaNova-Regular;
src : url(./fonts/ProximaNova-Regular.ttf);
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: ProximaNova-Bold;
src: url(/fonts/ProximaNova-Bold.ttf);
font-weight: normal;
font-style: normal;
}

body{
padding: 0;
margin: 0;
font-family: ProximaNova-Regular;
}

*{
transition: all 0.2s;
}

.topMenu{
position: fixed;
height: auto;
width: 100%;
top: 0;
left: 0;
background: rgba(200, 32, 32, 1);
font-size: x-large;
padding-top: 1.5%;
padding-bottom: 1.5%;
text-align: right;
color: white;
}

a{
text-decoration: none;
color: inherit;
}

.topMenu a{
padding: 1.5%;
outline: none;
max-height: 5vh;
}

.topMenu a:last-child{
margin-right: 3%;
}

.topMenu a:hover{
background: rgb(0,0,0,.1);
}

.topMenu img{
float: left;
max-height: 6vh;
background: white;
padding: 1vh;
margin-top: -1%;
margin-bottom: -1%;
border-radius: 10%;
margin-left: .5%;
text-align: center;
<<<<<<< HEAD
}
.strel{
	font-size: 20px;
}
.vew{
	color: black;
position: absolute;
	padding-top: 300px;
	font-size: 21px;
	text-decoration: none;
	font-family: Roboto;
}
.eva{
	position: absolute;
	padding-top: 297.5px;
	padding-left: 440px;
	font-size:22px;
}
a:hover{
	text-decoration:none;
	color: red;
}
.ded{
	padding-top: 700px;
}
.information{
	font-size:22px;
}
.BTN{
	background-color: rgb(255, 115, 0);
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
	text-align: center;
	border-radius:3px;
}
.form-container .BTN:hover, .open-button:hover {
	opacity: 1;
}
.kp{
	position: absolute;
	margin-bottom: 50px;
	padding: 30px;
}
.q{
	border-radius: 50%;
}
.ut{
	background-color: rgb(247, 247, 247);
	height: 335px;
}
@media (max-width: 500){
	.mcs{
		width: 80%;
		background-color: green;
	}
}
=======
}
>>>>>>> 7c041f3e9c2310abb7d67b10e38b720c2afbfe1b
