body { background: url(images/Голубой\ фон\(1\).jpg); }
.button-call{
  max-height: 80px;
    max-width: auto;
      left: 5%;
      top: 5%;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px #FF0000;
  padding: 1%;
  outline: none;
  background-color: #FF0000;
  background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0,0,0,.3) 0 2px 5px;
  display: table-cell;
  vertical-align: middle;
} 
.button1-call:active {
  top: 1px;
  box-shadow: none;
}
.button-call:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}
.vrachi-slides{
  width: 510px;
  
}
.menu-vrachi{
  width: 100%;
  display: flex;
}
.list-vrachi{
  width: 100%;
  align-self: center;
  text-align: -webkit-center;
}
.item {
  width: 5px;
}